@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather'), local('Merriweather-Regular'),
       url('../fonts/merriweather-v13-latin-regular.woff2') format('woff2'),
       url('../fonts/merriweather-v13-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v11-latin-regular.woff2') format('woff2'),
       url('../fonts/lato-v11-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 400;
  src: local('ProzaLibre'), local('ProzaLibre-Regular'),
       url('../fonts/ProzaLibre-Regular.woff') format('woff'),
       url('../fonts/ProzaLibre-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('SourceCodePro Regular'), local('SourceCodePro-Regular'),
       url('../fonts/SourceCodePro-Regular.woff') format('woff'),
       url('../fonts/SourceCodePro-Regular.woff') format('woff');
}
body {
  font-family: 'Merriweather', serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Proza Libre', sans-serif;
}
code {
  font-family: 'Source Code Pro', monospace;
}