<script src="https://use.fontawesome.com/efb5af9857.js"></script>
      <footer class="footer">
        <ul class="footer-links">
            <li><a href="mailto:tylurp1@gmail.com"><i class="fa fa-envelope" aria-hidden="true" title="Mail to Daijiang"></i><span class="sr-only">Email</span></a></li>
            <li><a href="https://github.com/tylurp"><i class="fa fa-github" aria-hidden="true" title="Github"></i><span class="sr-only">Github</span></a></li>
            <li><a href="https://twitter.com/tyluRp"><i class="fa fa-twitter" aria-hidden="true" title="Twitter"></i><span class="sr-only">Twitter</span></a></li>
            <li><a href="https://stackoverflow.com/users/7362046/tylurp?tab=profile"><i class="fa fa-stack-overflow" aria-hidden="true" title="Stack Overflow"></i><span class="sr-only">Stack Overflow</span></a></li>
            <li><a href="/"><i title="Last change"></i> Last change: {{ dateFormat "2006/01/02" .Site.LastChange }}</a></li>
        </ul>
      </footer>

    </div>
    {{ partial "footer_highlightjs" . }}
    {{ partial "footer_mathjax" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
