@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);


pre code {
  font-size: .7rem;
  white-space: pre;
  word-wrap: inherit;
}

pre {
  word-wrap: inherit;
}

code { 
  font-family: 'Fira Code', monospace; 
}